* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #68c793, #738dd4);
  color: rgb(43, 40, 40);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
h1 {
  text-decoration: underline;
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 100px;
  color: #93fd85;
}
header,
form {
  min-height: 8vh;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #fda085;
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}
form button:hover {
  background: orange;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 2rem;
  background: white;
  color: black;
  font-size: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: rgb(217, 255, 0);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: green;
}
.todo-item {
  padding: 0rem 0.5rem;
  font-size: large;
}
.fa-trash,
.fa-check {
  pointer-events: none;
  padding: 1;
}
.fa-trash {
  color: red;
}
/*maybe i dont need this*/
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
.todo-button {
  margin-left: 5px;
  background-color: rgb(52, 218, 102);
  color: black;
  position: absolute;
  right: 20%;
  height: 80px;
  top: 8%;
}
.generate-button {
  color: rgb(89, 0, 255);
  background-color: rgb(188, 208, 218);
  margin-left: 100px;
  position: absolute;
  right: 3%;
  top: 8%;
  box-sizing: border-box;
  height: 80px;
  width: 300px;
  font-size: xx-large;
  border: none;
  cursor: pointer;
}
.generate-button:hover {
  background: orange;
  color: white;
}
.slider {
  position: absolute;
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-sizing: border-box;
}
.result {
  font-size: 1000px;
  margin-right: 100px;
}
input[type="text"] {
  box-sizing: border-box;
  border: 2px solid rgb(3, 3, 3);
  border-radius: 4px;
  padding: 1rem, 2rem;
  margin-right: 5px;
  top: 10%;
}
input[id="mine"] {
  box-sizing: border-box;
  position: absolute;
  top: 14%;
  width: 500px;
  right: 42%;
  border: 15px solid rgb(0, 0, 0);
  margin-bottom: 100px;
}
input[id="url"] {
  box-sizing: border-box;
  position: absolute;
  top: 8%;
  width: 450px;
  right: 35%;
  border: 2px solid rgb(3, 3, 3);
}
input[id="name"] {
  box-sizing: border-box;
  position: absolute;
  top: 8%;
  width: 450px;
  right: 55%;
  border: 2px solid rgb(3, 3, 3);
}
span[id="result"] {
  box-sizing: border-box;
  color: rgb(12, 12, 12);
  margin-right: 100px;
  margin-left: 1px;

  position: absolute;
  right: 30%;
  font-size: 30px;
  top: 15%;
  display: block;
  border: 3px solid rgb(21, 216, 64);
}
div[id="list"] {
  top: 20px;
  /*display: flex;*/
  font-size: xx-large;
  margin-left: 100px;
  margin-top: 150px;
}
