* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #68c793, #738dd4);
  color: rgb(43, 40, 40);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
h1 {
  text-decoration: underline;
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 100px;
  color: #93fd85;
}
header,
form {
  min-height: 8vh;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #fda085;
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}
form button:hover {
  background: orange;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 2rem;
  background: white;
  color: black;
  font-size: 1.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: rgb(217, 255, 0);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: green;
}
.todo-item {
  padding: 0rem 0.5rem;
  font-size: large;
}
.fa-trash,
.fa-check {
  pointer-events: none;
  padding: 1;
}
.fa-trash {
  color: red;
}
/*maybe i dont need this*/
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
.todo-button {
  margin-left: 5px;
  background-color: rgb(52, 218, 102);
  color: black;
  position: absolute;
  right: 20%;
  height: 80px;
  top: 8%;
}
.generate-button {
  color: rgb(89, 0, 255);
  background-color: rgb(188, 208, 218);
  margin-left: 100px;
  position: absolute;
  right: 3%;
  top: 8%;
  box-sizing: border-box;
  height: 80px;
  width: 300px;
  font-size: xx-large;
  border: none;
  cursor: pointer;
}
.generate-button:hover {
  background: orange;
  color: white;
}
.slider {
  position: absolute;
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-sizing: border-box;
}
.result {
  font-size: 1000px;
  margin-right: 100px;
}
input[type="text"] {
  box-sizing: border-box;
  border: 2px solid rgb(3, 3, 3);
  border-radius: 4px;
  padding: 1rem, 2rem;
  margin-right: 5px;
  top: 10%;
}
input[id="mine"] {
  box-sizing: border-box;
  position: absolute;
  top: 14%;
  width: 500px;
  right: 42%;
  border: 15px solid rgb(0, 0, 0);
  margin-bottom: 100px;
}
input[id="url"] {
  box-sizing: border-box;
  position: absolute;
  top: 8%;
  width: 450px;
  right: 35%;
  border: 2px solid rgb(3, 3, 3);
}
input[id="name"] {
  box-sizing: border-box;
  position: absolute;
  top: 8%;
  width: 450px;
  right: 55%;
  border: 2px solid rgb(3, 3, 3);
}
span[id="result"] {
  box-sizing: border-box;
  color: rgb(12, 12, 12);
  margin-right: 100px;
  margin-left: 1px;

  position: absolute;
  right: 30%;
  font-size: 30px;
  top: 15%;
  display: block;
  border: 3px solid rgb(21, 216, 64);
}
div[id="list"] {
  top: 20px;
  /*display: flex;*/
  font-size: xx-large;
  margin-left: 100px;
  margin-top: 150px;
}
/************************************************/
/*
.img-container {
  position: absolute;
  width: 10px;
  height: 10px;
  display: flex;
  
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  
  top: 50%;
  right: 70%;
}
*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-bottom: 10px 0;
}
.dot {
  border: none;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 50%;
  outline: none;
}
.dot:hover {
  background: rgba(0, 0, 0, 0.3);
}
.dot.active {
  background: rgba(0, 0, 0, 0.5);
}
.action-btn {
  display: flex;
  background-color: rgb(2, 1, 1);
  border: 0;
  color: #000f3b;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn:focus {
  outline: 0;
}

/*
.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(240, 6, 6, 0.1);
  position: absolute;
  top: 20px;
  left: 20px;
}
*/
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(228, 214, 214); /* Black fallback color */
  background-color: rgba(161, 119, 119, 1); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  color: rgba(247, 247, 247, 1);
  position: absolute;

  top: 30%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-bottom: 50px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #faf4f4;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  margin-bottom: 10px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 15%;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
button[id="change-form"] {
  font-size: xx-large;
  position: absolute;
  right: 1400px;
  top: 90px;
  margin-right: 350px;
  cursor: pointer;
  transition: all 0.3 ease;
  color: #802280;
  background: rgb(49, 126, 25);
  height: 100px;
  width: 300px;
  opacity: 0;
}

button[id="change-form"]:hover {
  background: orange;
  color: white;
}
